.widget
  .widget-title
    i(class='fa fa-external-link')= ' ' + __('blogroll')
  - for (var i in theme.links)
    ul
    a(href=theme.links[i].url title=theme.links[i].title target='_blank')
      i(class=theme.links[i].icon ? theme.links[i].icon : 'fa fa-arrow-right')  #{theme.links[i].title}